<div class="container">
  <div class="bulbs">
    <div
      *ngFor="let bulb of bulbs; let i = index"
      [ngClass]="bulb === false ? 'gray' : 'green'"
    >
      <div>{{ i + 1 }}</div>
    </div>
  </div>
  <div>
    <button type="button" [disabled]="passIsOver" (click)="changeBulbs()">
      {{ passIsOver ? "Pass is over!" : "Pass" }}
    </button>
  </div>
  <div class="pass-counter">Pass number: {{ counter }}</div>
  <div *ngIf="passIsOver">
    <h4>There are {{ openedBulbs.length }} green bulbs. These are:</h4>
    <li *ngFor="let openedBulb of openedBulbs; let i = index">
      {{ openedBulb }}
    </li>
  </div>
</div>
